body {
  background-color: #CFF5E7;
}
img {
  height: 400px;
}
h1 {
  color: #66bfbf;

}
h2 {
  color: #66bfbf;
}
h3 {
  color: red;

}
hr  {
    background-color: white;
      border-style: dotted none;
      border-top-style: none;
      border-colour: grey;
      border-width: 5px;
      width: 5%;
            }
